.nav-bg{
    background-color: #FFF9F4;
}
 /* .header-img{
    margin-left: 217px;
    margin-top: 90px; 
} */
/* .header-details{
    margin-right: 229px;
    margin-top: 90px;
} */
.span-1{
    color: #FA804C; 
    font-weight: 700;
    font-size: 60px;
    font-family: 'Bebas Neue', cursive;
}
.span-2{
    color: rgb(61, 60, 60);
    font-weight: 700;
    font-size: 60px;
    font-family: 'Bebas Neue', cursive;
}
.btn-nike-react{
    background-image: linear-gradient(180deg, #3D4FF3, #3543BC);;
    padding: 13px 24px;
    border-radius: 10px;
    color: white;
    border: none;
}

